<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Excel-like Table</title>
    <style>
      table {
        border-collapse: collapse;
        white-space: nowrap;
      }

      td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        width: 100px;
      }

      td:focus {
        outline: none;
        background-color: #f0f0f0;
      }

      body {
        background-color: #acacdb;
      }

    </style>
  </head>
  <body>
    <div style="overflow-x: auto; white-space: nowrap;"></div>
    
    <table id="myTable">
      <thead>
				<tr>
					<th>日期</th>
					<th>魚名</th>
					<th>重量</th>
					<th>單價</th>
					<th>分</th>
					<th>箱</th>
					<th>總價</th>
				</tr>
			</thead>
      <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
      </tr>
    </table>
    <button id="myButton">傳送表單</button>
    </div>

    <script>


      window.onload = function() {
        var table = document.getElementById("myTable");
        table.rows[1].cells[0].focus();

        
        myButton.onclick = function() {
            const form = document.getElementById('myTable');
            const tbody = table.getElementsByTagName('tbody')[0];
            const rows = tbody.getElementsByTagName('tr');
            const data = [];
            for (let i = 0; i < rows.length; i++) {


              

              const row = rows[i];
              const cells = row.getElementsByTagName('td');

              if (cells[0].innerText ==""){
                continue
              }
              const date = cells[0].innerText;
              const fish_name = cells[1].innerText;
              const weight = cells[2].innerText;
              const price = cells[3].innerText;
              const fraction = cells[4].innerText;
              const package = cells[5].innerText;
              const total_price= cells[6].innerText;

              data.push({
                date: date,
                fish_name: fish_name,
                weight: weight,
                price: price,
                fraction: fraction,
                package: package,
                total_price: total_price,
              });
            }
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/fish');
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.send(JSON.stringify(data));
        };
      };


      function checkFishColor(number) {
        switch (number) {
          case "01":
            return "白鯧";
          case "02":
            return "黑鯧";
          default:
            return "未知";
        }
      }

      var table = document.getElementById("myTable");
      var currentRow = 1;
      var currentCol = 0;

      table.rows[currentRow].cells[currentCol].focus();

      table.addEventListener("keydown", function(event) {
        
        var key = event.which || event.keyCode;

        switch (key) {
          case 37: // left arrow
            if (currentCol > 0) {
              currentCol--;
              table.rows[currentRow].cells[currentCol].focus();
            }
            break;
          case 38: // up arrow
            if (currentRow > 0) {
              currentRow--;
              table.rows[currentRow].cells[currentCol].focus();
            }
            break;
          case 39: // right arrow
            if (currentCol < table.rows[currentRow].cells.length - 1) {
              currentCol++;
              table.rows[currentRow].cells[currentCol].focus();
            }
            break;
          case 40: // down arrow
            if (currentRow < table.rows.length - 1) {
              currentRow++;
              table.rows[currentRow].cells[currentCol].focus();
            }
            break;
          
          case 32: // clear col
            event.preventDefault();
            table.rows[currentRow].cells[currentCol].innerText=""
            
            break;
          case 13: // enter
            event.preventDefault();


            // 第一格 (產生日期)
            if (currentCol == 0){
              var today = new Date();
							var mmdd = (today.getMonth() + 1).toString().padStart(2, '0') + today.getDate().toString().padStart(2, '0');
              table.rows[currentRow].cells[currentCol].innerText = mmdd;
              currentCol++;
              table.rows[currentRow].cells[currentCol].focus();
              break;
            }

            // 第二格 (魚種)            
            if (currentCol == 1){
              data = table.rows[currentRow].cells[currentCol].innerText
            
              if(checkFishColor(data)!="未知"){
                table.rows[currentRow].cells[currentCol].innerText=checkFishColor(data)
                currentCol++;
                table.rows[currentRow].cells[currentCol].focus();
                break;
              }

              break;
            }

            // 第三格 (重量)            
            if (currentCol == 2){
              data = table.rows[currentRow].cells[currentCol].innerText
              if (data!=""){
                table.rows[currentRow].cells[currentCol].focus();
                currentCol++;
                table.rows[currentRow].cells[currentCol].focus();
              }
              break;
            }

            // 第四格 (單價)            
            if (currentCol == 3){
              data = table.rows[currentRow].cells[currentCol].innerText
              if (data!=""){
                table.rows[currentRow].cells[currentCol].focus();
                currentCol++;
                table.rows[currentRow].cells[currentCol].focus();
              }
              break;
            }

            // 第五格 (分)            
            if (currentCol == 4){
              data = table.rows[currentRow].cells[currentCol].innerText
              if (data!=""){
                table.rows[currentRow].cells[currentCol].focus();
                currentCol++;
                table.rows[currentRow].cells[currentCol].focus();
              }
              break;
            }
            // 第六格 (箱)
            if (currentCol == 5){
              data = table.rows[currentRow].cells[currentCol].innerText
              if (data!=""){
                currentCol++;
                table.rows[currentRow].cells[currentCol].focus();
              }
              break;
            }
            // 第七格 (總價)
            if (currentCol == 6){

              ticket=5
              price = table.rows[currentRow].cells[3].innerText
							weight = table.rows[currentRow].cells[2].innerText
							result = (price*weight+ticket)*1.06+table.rows[currentRow].cells[5].innerText
							result=Math.round(result * 10)/ 10
							table.rows[currentRow].cells[currentCol].innerText=result

              var newRow = table.insertRow(-1);
              for (var i = 0; i < table.rows[0].cells.length; i++) {
                var cell = newRow.insertCell(i);
                cell.contentEditable = true;
              }
              currentRow++;
              table.rows[currentRow].cells[0].focus();
              currentCol=0
              break;
            }

            case 83: // clear col
            event.preventDefault();

            button=document.getElementById('myButton');
            button.click()
            alert(83)
            break;

            
            
          
        }
      });
    </script>
  </body>
</html>