
	<!DOCTYPE html>
<html>
<head>
  <title>列印純文字內容</title>
  <style>
    .text-content {
      white-space: pre;
      font-size: 15px;
    }
  </style>
  </style>
</head>
<body>
	
<h2>
test
</h2>
<pre class="text-content">
前帳: 9085
05/01 皮刀  60     300  1   19085
05/02 入=10000 欠=2929683
</pre>
<h4>盛: 9085</h4>
<pre>-----------------------------------------------</pre>
<h2>
test2
</h2>
<pre class="text-content">
前帳: 2209
05/01 熟卷  100    2    1   217 
05/01 草魚  20     3    1   69  
05/01 草魚  100    4    2   858 
05/01 草魚  200    5    1   1065
</pre>
<h4>盛: 2209</h4>
<pre>-----------------------------------------------</pre>

	<button onclick="window.print()">列印文字</button>
	</body>
	</html>

