
	<!DOCTYPE html>
<html>
<head>
  <title>列印純文字內容</title>
  <style>
    .text-content {
      white-space: pre;
      font-size: 15px;
	  margin-top: -15px; /* 调整顶部边距 */
    }
	.shorten-distance {
		margin-top: -20px; /* 调整顶部边距 */
		margin-bottom: 5px; /* 调整底部边距 */
		font-size: 12px; /* 缩小字体大小 */
	}
	.shorten-distance2 {
		margin-top: -6px; /* 调整顶部边距 */
	}
  </style>
  </style>
</head>
<body>
	
<pre class="shorten-distance">-----------------------------------------------</pre>
<h2 class="shorten-distance2">
王小明
</h2>
<pre class="text-content">
前帳: 127350
08/01 熟卷  10k    100  10  10650
08/01 草魚  10k    100  10  10650
08/01 赤宗  10k    100  10  10650










</pre>
<h4>盛: 159300</h4>
<pre class="shorten-distance">-----------------------------------------------</pre>
<pre class="shorten-distance">-----------------------------------------------</pre>
<h2 class="shorten-distance2">
陳小華
</h2>
<pre class="text-content">
前帳: 164161
08/01 赤宗  10k    10   100 11100
08/01 赤宗  10k    10   100 11100
08/01 赤宗  10k    10   100 11100
08/01 赤宗  10k    10   100 11100
08/01 赤宗  10k    10   100 11100
08/01 赤宗  10k    10   100 11100
08/01 赤宗  10k    10   100 11100
08/01 赤宗  100k   10   10  10650
08/01 赤宗  100k   10   1   1065
08/01 赤宗  10k    10   100 11100
08/01 赤宗  10k    10   100 11100
08/01 赤宗  10k    10   100 11100
08/01 赤宗  10k    10   100 11100
08/01 赤宗  10k    10   1   121 
08/01 赤宗  10k    100  10  10650
08/01 赤宗  100k   10   10  11650
08/01 赤宗  10k    10   10  1110
08/01 赤宗  10k    10   10  1110
08/01 赤宗  10k    10   1   111 
08/01 赤宗  10k    100  1   1065
08/01 赤宗  10k    10   1   111 
</pre>
<h4>盛: 323904</h4>
<pre class="shorten-distance">-----------------------------------------------</pre>
<div style="page-break-before: always;"></div>
<pre class="shorten-distance">-----------------------------------------------</pre>
<h2 class="shorten-distance2">
許笨豬
</h2>
<pre class="text-content">
前帳: 21321
08/01 熟卷  10k    10   10  1110












</pre>
<h4>盛: 22431</h4>
<pre class="shorten-distance">-----------------------------------------------</pre>
<pre class="shorten-distance">-----------------------------------------------</pre>
<h2 class="shorten-distance2">
趙二虎
</h2>
<pre class="text-content">
前帳: 111643
08/01 赤宗  10k    10   1   111 












</pre>
<h4>盛: 111754</h4>
<pre class="shorten-distance">-----------------------------------------------</pre>

	<button onclick="window.print()">列印文字</button>
	</body>
	</html>

