
	<!DOCTYPE html>
<html>
<head>
  <title>列印純文字內容</title>
  <style>
    .text-content {
      white-space: pre;
      font-size: 15px;
	  margin-top: -15px; /* 调整顶部边距 */
    }
	.shorten-distance {
		margin-top: -20px; /* 调整顶部边距 */
		margin-bottom: 5px; /* 调整底部边距 */
		font-size: 12px; /* 缩小字体大小 */
	}
	.shorten-distance2 {
		margin-top: -6px; /* 调整顶部边距 */
	}
  </style>
  </style>
</head>
<body>
	
<pre class="shorten-distance">-----------------------------------------------</pre>
<h2 class="shorten-distance2">
王曉明
</h2>
<pre class="text-content">
05/28 熟卷  10k    10   1   111 
05/28 白北  20k    30   1   641 












</pre>
<h4>盛: 752</h4>
<pre class="shorten-distance">-----------------------------------------------</pre>
<pre class="shorten-distance">-----------------------------------------------</pre>
<h2 class="shorten-distance2">
王大明
</h2>
<pre class="text-content">
05/28 草魚  20k    10   1   217 
05/28 熟卷  30k    20   1   641 












</pre>
<h4>盛: 858</h4>
<pre class="shorten-distance">-----------------------------------------------</pre>














</pre>
<h4>盛: 0</h4>
<pre class="shorten-distance">-----------------------------------------------</pre>














</pre>
<h4>盛: 0</h4>
<pre class="shorten-distance">-----------------------------------------------</pre>

	<button onclick="window.print()">列印文字</button>
	</body>
	</html>

