<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Table Navigation</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        td {
          width: 100px;
          height: 50px;
          text-align: center;
          vertical-align: middle;
        }
        .highlight {
          background-color: yellow;
        }
        .selected {
          background-color: red;
        }

        body {
        background-color: #acacdb;
        }
      </style>
  </head>
  <body>
    <table id="myTable"></table>
    <button id="myButton">傳送表單</button>
    <script>

      let custome_index=0;
      myButton.onclick = function() {
          const form = document.getElementById('myTable');
          const rows = form.getElementsByTagName('tr');
          const data = [];
          for (let i = 0; i < rows.length; i++) {
              const row = rows[i];
              const cells = row.getElementsByTagName('td');

              for (let j = 0; j < cells.length; j++){

                if (cells[j].style.backgroundColor == "red"){
                  const id=cells[j].innerText;
                  const name=cells[j].innerText;

                  tempSpan1 = cells[j].querySelector('span1');
                  tempSpan2 = cells[j].querySelector('span2');

                  data.push({
                  id: parseInt(i+j),
                  name: tempSpan1.innerText,
                  date: new Date(2023, 4, 7, 15, 45, 0, 0),
                  sort: tempSpan2.innerText,
                  });
                }
              }
          }
          const xhr = new XMLHttpRequest();
          xhr.open('POST', '/set_today_customer_name');
          xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
          xhr.send(JSON.stringify(data));

          alert("選取 "+custome_index+"位客戶,轉跳到輸入頁面")
          window.location= "http://127.0.0.1:8080/input";
      };

      const url = "/get_customer_name";
      const table = document.getElementById("myTable");
      let currentX = 0;
      let currentY = 0;

      fetch(url)
        .then((response) => response.json())
        .then((data) => {
          let i = 0;
          while (i < data.length) {
            const tr = document.createElement("tr");
            for (let j = 0; j < 10; j++) {
              if (i >= data.length) {
                break;
              }
              const td = document.createElement("td");
              //td.innerText = data[i].name;
              // 新增暫存標籤
              const tempSpan1=document.createElement("span1");
              tempSpan1.innerText=data[i].name;
              td.append(tempSpan1);

              // 新增暫存標籤
              const tempSpan2=document.createElement("span2");
              tempSpan2.innerText="";
              td.append(tempSpan2);

              tr.appendChild(td);
              i++;
            }
            table.appendChild(tr);
          }
          table.rows[currentY].cells[currentX].classList.add("focus");
          window.addEventListener("keydown", handleKeyDown);
        });

      function handleKeyDown(event) {
        switch (event.key) {
          
          case "ArrowUp":
            if (currentY > 0) {
              currentY--;
            }
            break;
          case "ArrowDown":
            if (currentY < table.rows.length - 1) {
              currentY++;
            }
            break;
          case "ArrowLeft":
            if (currentX > 0) {
              currentX--;
            } else if (currentY > 0) {
              currentY--;
              currentX = table.rows[currentY].cells.length - 1;
            }
            break;
          case "ArrowRight":
            if (currentX < table.rows[currentY].cells.length - 1) {
              currentX++;
            } else if (currentY < table.rows.length - 1) {
              currentY++;
              currentX = 0;
            }
            break;
          case "Enter":
            table.rows[currentY].cells[currentX].style.backgroundColor = 'red';
            //table_position=table.rows[currentY].cells[currentX]
            ///tempSpan = table_position.querySelector('span');​
            //tempSpan.innerText=""
            test=table.rows[currentY].cells[currentX];
            tempSpan2 = test.querySelector('span2');
            custome_index+=1;
            tempSpan2.innerText=custome_index;


            break;
          case " ":

            table.rows[currentY].cells[currentX].style.backgroundColor = 'white';
            break;
          default:
            return;
        }
        for (let i = 0; i < table.rows.length; i++) {
          for (let j = 0; j < table.rows[i].cells.length; j++) {
            table.rows[i].cells[j].classList.remove("focus");
          }
        }
        table.rows[currentY].cells[currentX].classList.add("focus");
      }
    </script>
    <style>
      .focus {
        background-color: yellow;
      }
    </style>
  </body>
</html>
